{% if site.data.social.share.facebook or site.theme_settings.share_buttons.facebook
   or site.data.social.share.twitter or site.theme_settings.twitter 
   or site.data.social.share.weibo
%}

<div class="share-buttons">
    <ul class="share-buttons">
        <li class="meta">Share</li>
        {% if site.data.social.share.facebook or site.theme_settings.share_buttons.facebook %}
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank"
               title="{{ site.data.social.language.str_share_on }} Facebook">
                <i class="fab fa-facebook fa-2x" aria-hidden="true"></i>
                <span class="sr-only">{{ site.data.social.language.str_share_on | default: "Share on" }} Facebook</span>
            </a>
        </li>
        {% endif %} {% if site.data.social.share.twitter or site.theme_settings.twitter %}
        <li>
            <a href="https://twitter.com/intent/tweet?text={{ page.title | strip_html | url_encode }}%20{{ page.url | absolute_url | url_encode }}"
               target="_blank" title="{{ site.data.social.language.str_tweet }} Twitter">
                <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
                <span class="sr-only">{{ site.data.social.language.str_tweet | default: "Tweet" }}</span>
            </a>
        </li>
        {% endif %} {% if site.data.social.share.weibo or site.theme_settings.twitter %}
        <li>
            <a href="http://service.weibo.com/share/share.php?url={{ page.url | absolute_url }}&title={{page.title}}"
            target="_blank" title="{{ site.data.social.language.str_tweet }} Weibo">
                <i class="fab fa-weibo fa-2x" aria-hidden="true"></i>
                <span class="sr-only">{{ site.data.social.language.str_tweet | default: "Weibo" }}</span>
            </a>
        </li>

        {% endif %}
    </ul>
</div>

{% endif %}
